*{
    margin: 0px;
    padding: 0px;
    font-family: monospace;
}

body{
    font-size: 20px;
}

header{
    color: white; 
    text-align: center;
    background-color: rgb(26, 26, 123);
    padding: 20px;
}

.contenedor{
    text-align: center;
}

.contenedor label{
    font-size: 28px;
}

.contenedor input{
    font-size: 22px;
}

img{
    width: 200px;
    padding-top: 15px;
}

.unidad{
    text-align: center;
    padding: 15px;
}

.boton {
    width: 350px;
    margin: 10px;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: rgb(26, 26, 123);
    border: none;
    border-radius: 10px;
    box-shadow: 0 9px #777;
}
  
.boton:hover {
    background-color: rgb(13, 110, 253);
}
  
.boton:active {
    background-color: #ddd;
    color: rgb(13, 110, 253);
    box-shadow: 0 9px #777;
    transform: translateY(4px);
}

.contenedorB {
    width: 350px;
    margin: 10px;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: rgb(26, 26, 123);
    border: none;
    border-radius: 10px;
    box-shadow: 0 9px rgb(195, 191, 191);
}
  
.contenedorB:hover {
    background-color: rgb(13, 110, 253);
}
  
.contenedorB:active {
    background-color: white;
    color: rgb(13, 110, 253);
    box-shadow: 0 9px #666;
    transform: translateY(4px);
}
/*Esto es pa los bordes en tablas*/
th, td {
    padding: 8px;
    border: 1px solid #000;
}

.button{
    background-color: rgb(13, 110, 253);
    color: white;
}


.divi{
text-align: center;
padding-top: 20px;
}
