*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body{
    background-color: #333;
}

h1{
    color: white;
    padding: 20px;
    text-align: center;
}

.contenedor{
    background-color: palegreen;
    text-align: center;
    padding: 20px;
}

.texto{
    padding: 10px;
}

.contenedorB {
    padding: 15px 25px;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: rgb(13, 110, 253);
    border: none;
    border-radius: 30px;
    box-shadow: 0 9px rgb(195, 191, 191);

}
  
.contenedor button:hover {background-color: white;  
    color: rgb(13, 110, 253);
}
  
.contenedor button:active {
    background-color: rgb(13, 110, 253);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
/*Esto es pa los bordes en tablas*/
th, td {
    padding: 8px;
    border: 1px solid #000;
  }

.button{
    background-color: rgb(13, 110, 253);
    color: white;
}

header{
    color: white; 
    font-size: 36px; 
    text-align: center; 
    font-family: monospace; 
    background-color: rgb(26, 26, 123); 
}
